[submodule "BuehlerVAE"]
	path = BuehlerVAE
	url = https://github.com/reutep/BuehlerVAE
[submodule "LiaoWGAN"]
	path = LiaoWGAN
	url = https://github.com/reutep/LiaoWGAN
[submodule "SongScoreSDE"]
	path = SongScoreSDE
	url = https://github.com/reutep/SongScoreSDE
