numpy
pandas
matplotlib
esig
scikit-learn
ipykernel
tqdm # for progress bars
datasets # Bühler et al. uses this
tensorflow==1.15
# torch # PyTorch ML library
# signatory # GPU optimized and set up for implementation with PyTorch

protobuf==3.20.1 # for tensorflow
pandas_datareader # for downloading data
# torch # PyTorch ML library
# signatory # GPU optimized and set up for implementation with PyTorch